.card1 {
  border: solid 5px black;
  display: grid;
  background-color: #e9e5d6;
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.headLine:first-child {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

p:first-of-type {
  display: flex;
  justify-content: center;
}

.InputBox {
  border: solid 1px black;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 50px;
  height: 50px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.buttons button {
  border-radius: 10px;
}
